
ReactiveWebsocket\.Desktop/bin/

ReactiveWebsocket\.Desktop/obj/

ReactiveWebsocket\.Desktop/nugetpublish/

ReactiveWebsocket\.Droid/bin/

ReactiveWebsocket\.Droid/nuget_publish/

ReactiveWebsocket\.Droid/obj/

ReactiveWebsocket\.Portable/bin/

ReactiveWebsocket\.Portable/obj/

packages/

ReactiveWebsocket\.Droid\.Samples/bin/

ReactiveWebsocket\.Droid\.Samples/obj/

ReactiveWebsocket\.Samples/bin/

ReactiveWebsocket\.Samples/obj/

\.vs/

ReactiveWebsocket\.Portable/project\.lock\.json
